.button {
  -fx-background-color: green;
  -fx-border-radius: 0px;
  -fx-border-size: 0px;
  -fx-border-color: gray;
  -fx-background-radius: 0px;
  -fx-background-insets: 1px;
}

.button:hover {
  -fx-background-color: #9B7653;
}

.shown {
  -fx-background-color: grey;
}

.bombs-1 {
  -fx-text-fill: blue;
}

.bombs-2 {
  -fx-text-fill: green;
}

.bombs-3 {
  -fx-text-fill: red;
}

.bombs-4 {
  -fx-text-fill: purple;
}

.bombs-5 {
  -fx-text-fill: maroon;
}

.bombs-6 {
  -fx-text-fill: turquoise;
}

.bombs-7 {
  -fx-text-fill: black;
}

.bombs-8 {
  -fx-text-fill: grey;
}
