.button {
  -fx-background-color: lightsalmon;
  -fx-border-radius: 5px;
  -fx-border-size: 5px;
  -fx-border-color: red;
  -fx-background-radius: 5px;
  -fx-background-insets: 1px;
}

.button:hover {
  -fx-background-color: #80982A;
}


.shown {
  -fx-background-color: silver;
}

.bombs-1 {
  -fx-text-fill: blue;
}

.bombs-2 {
  -fx-text-fill: green;
}

.bombs-3 {
  -fx-text-fill: red;
}

.bombs-4 {
  -fx-text-fill: purple;
}

.bombs-5 {
  -fx-text-fill: maroon;
}

.bombs-6 {
  -fx-text-fill: turquoise;
}

.bombs-7 {
  -fx-text-fill: black;
}

.bombs-8 {
  -fx-text-fill: grey;
}
